*{
  display: block;
  overflow: hidden;
  color: #000;
}
.container{
  display: flex;
  flex-direction: column;
  display: block;
  overflow: hidden;
  padding: 20px;
}

.input{
  display: flex;
  flex-direction: row;
}

.button{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

