.info{
  margin-top: 10px;
  font-size: 18px;
}

a { cursor: pointer; }

.info-list:hover{
  color: #009CDE;
}

*{
  color: #003087;
}

.main{

  padding: 15px;
}

td{
  font-family: 'Noto Sans Thai', sans-serif;
  background-color: white;
}
th{
  font-family: 'Noto Sans Thai', sans-serif;
  color: white;
}
.detail:hover{
  opacity: 0.9;
  cursor: pointer;
}
