*{
  color: #34495e;
  font-family: 'Noto Sans Thai', sans-serif;
}
h1,h2{
  font-family: 'Noto Sans Thai', sans-serif;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}
