.container{
  display: flex;
  flex-direction: column;
  height: 400px;
  margin: 20px;
}

.button{
  margin-top: auto;
  display: flex;
  flex-direction: row;
}

.button{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

*{
  color: aliceblue;
}

textarea{
  color: #000;
}
input{
  color: #000;
}

select{
  color: #000;
}
select option{
  color: #000;
}
